@import 'variables';

.slide{
  position: fixed;
  top: 135px;
  left: 50%;
  margin-left: -300px;
  min-height: 224px;
  width: 600px;
  background-color: $color-white;
  padding: 24px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transform: translate(2000px, 0);

  .right-box,
  .wrong-box,
  .help-box{
    padding: 8px;
  }

  .translatoin-box{
    padding: 8px 0;
    color: $color-grey-darkest;
    font-size: 18px;
  }
  .right-box{
    color: $color-green-dark;
    background-color: $color-green-bright;
  }
  .help-box{
    color: $color-main-dark;
    background-color: $color-main-bright;
  }
  .wrong-box{
    background-color: $color-grey;
    margin-bottom: 4px;
  }
  .wrong-word{
    color: $color-red;
  }
  .right-word{
    color: $color-green;
  }


  .button{
    position: absolute;
    bottom: 24px;
    right: 24px;
    &:focus{
      border: 2px solid $color-red;
      outline: none;
    }
  }
}



@-webkit-keyframes kf-slide-in {
  from { transform: translate(2000px, 0); }
  to { transform: translate(0, 0); }
}
@-o-keyframes kf-slide-in {
  from { transform: translate(2000px, 0); }
  to { transform: translate(0, 0); }
}
@-moz-keyframes kf-slide-in {
  from { transform: translate(2000px, 0); }
  to { transform: translate(0, 0); }
}
@keyframes kf-slide-in {
  from { transform: translate(2000px, 0); }
  to { transform: translate(0, 0); }
}




@-webkit-keyframes kf-slide-out {
  from { transform: translate(0, 0); }
  to { transform: translate(-2000px, 0); }
}
@-o-keyframes kf-slide-out {
  from { transform: translate(0, 0); }
  to { transform: translate(-2000px, 0); }
}
@-moz-keyframes kf-slide-out {
  from { transform: translate(0, 0); }
  to { transform: translate(-2000px, 0); }
}
@keyframes kf-slide-out {
  from { transform: translate(0, 0); }
  to { transform: translate(-2000px, 0); }
}

.slide-in{
  /* @keyframes name | duration | timing-function | delay | iteration-count | direction | fill-mode | play-state */

   -webkit-animation: kf-slide-in .3s ease-in-out 0s 1 normal forwards running;
   -moz-animation: kf-slide-in .3s ease-in-out 0s 1 normal forwards running;
   -ms-animation: kf-slide-in .3s ease-in-out 0s 1 normal forwards running;
   -o-animation: kf-slide-in .3s ease-in-out 0s 1 normal forwards running;

}
.slide-out{

  -webkit-animation: kf-slide-out .3s ease-in-out 0s 1 normal forwards running;
  -moz-animation: kf-slide-out .3s ease-in-out 0s 1 normal forwards running;
  -ms-animation: kf-slide-out .3s ease-in-out 0s 1 normal forwards running;
  -o-animation: kf-slide-out .3s ease-in-out 0s 1 normal forwards running;

}
.slide-close{
  cursor: pointer;
}
.slide-close:active,
.slide-close:hover,
.slide-close:focus{
  border: 1px solid red;
}

