$white-0: #fff;
$green-0: rgba(0, 128, 0, 0.26);
$grey-1: #eee;

$text-dark: #555;
$text-red: red;
$text-green: green;
$text-blue: #005a65;

.slide{
  position: fixed;
  top: 230px;
  left: 50%;
  margin-left: -300px;
  min-height: 224px;
  width: 600px;
  background-color: $white-0;
  padding: 24px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transform: translate(2000px, 0);


  .translatoin-box,
    .right-box,
    .wrong-box,
    .help-box{
    padding: 8px;
    }

    .translatoin-box{
    color: $text-dark;
    font-weight: bold;
    }
    .right-box{
    color: $text-green;
    background-color: $green-0;
    }
    .help-box{
    color: $text-blue;
    background-color: #74cad4;
    }
    .wrong-box{
      background-color: $grey-1;
    margin-bottom: 4px;
    }
    .wrong-word{
    color: $text-red;
    text-decoration: line-through;
    }
    .right-word{
    color: $text-green;
    }


    .button{
      position: absolute;
      bottom: 24px;
      right: 24px;
      &:focus{
        border: 2px solid red;
        outline: none;
      }
    }
}



@-webkit-keyframes kf-slide-in {
  from { transform: translate(2000px, 0); }
  to { transform: translate(0, 0); }
}
@-o-keyframes kf-slide-in {
  from { transform: translate(2000px, 0); }
  to { transform: translate(0, 0); }
}
@-moz-keyframes kf-slide-in {
  from { transform: translate(2000px, 0); }
  to { transform: translate(0, 0); }
}
@keyframes kf-slide-in {
  from { transform: translate(2000px, 0); }
  to { transform: translate(0, 0); }
}




@-webkit-keyframes kf-slide-out {
  from { transform: translate(0, 0); }
  to { transform: translate(-2000px, 0); }
}
@-o-keyframes kf-slide-out {
  from { transform: translate(0, 0); }
  to { transform: translate(-2000px, 0); }
}
@-moz-keyframes kf-slide-out {
  from { transform: translate(0, 0); }
  to { transform: translate(-2000px, 0); }
}
@keyframes kf-slide-out {
  from { transform: translate(0, 0); }
  to { transform: translate(-2000px, 0); }
}

.slide-in{
  /* @keyframes name | duration | timing-function | delay | iteration-count | direction | fill-mode | play-state */

   -webkit-animation: kf-slide-in .3s ease-in-out 0s 1 normal forwards running;
   -moz-animation: kf-slide-in .3s ease-in-out 0s 1 normal forwards running;
   -ms-animation: kf-slide-in .3s ease-in-out 0s 1 normal forwards running;
   -o-animation: kf-slide-in .3s ease-in-out 0s 1 normal forwards running;

}
.slide-out{

  -webkit-animation: kf-slide-out .3s ease-in-out 0s 1 normal forwards running;
  -moz-animation: kf-slide-out .3s ease-in-out 0s 1 normal forwards running;
  -ms-animation: kf-slide-out .3s ease-in-out 0s 1 normal forwards running;
  -o-animation: kf-slide-out .3s ease-in-out 0s 1 normal forwards running;

}
.slide-close{
  cursor: pointer;
}
.slide-close:active,
.slide-close:hover,
.slide-close:focus{
  border: 1px solid red;
}

