
<div class="slide" [class.slide-in]="slide.enter" [class.slide-out]="slide.exit">
  <div class="translatoin-box">
    {{translation.english}}
  </div>
  <div *ngIf="correctAnswer">
    <div class="right-box">
      {{translation.spanish}}
    </div>
  </div>
  <div *ngIf="!correctAnswer">
      <div class="wrong-box">
        <span *ngFor="#word of attemptValidatedArray">
          <span class="right-word" *ngIf="word.valid">{{word.word}}</span>
          <span class="wrong-word" *ngIf="!word.valid">{{word.word}}</span>
        </span>
      </div>
    <div class="right-box">
      {{translation.spanish}}
    </div>
  </div>
  <button (click)="onClose()" (keypress)="onClose()" class="button button-24 border-red" role="none" [focus]="slide.enter">close</button>
</div>

