
<div class="slide" [class.slide-in]="slide.enter" [class.slide-out]="slide.exit">
  <div class="translatoin-box">
    {{translation.english | spaceSentence | capitalizeFirst}}
  </div>
  <div *ngIf="translation.attempt == '' ">
    <div class="help-box">
      {{translation.spanish | capitalizeFirst}}
    </div>
  </div>
  <div *ngIf="translation.attempt != '' ">
    <div *ngIf="correctAnswer">
      <div class="right-box">
        {{translation.spanish | capitalizeFirst}}
      </div>
    </div>
    <div *ngIf="!correctAnswer">
        <div class="wrong-box">
          <span *ngFor="#word of attemptValidatedArray">
            <span class="right-word" *ngIf="word.valid"> {{word.word | capitalizeFirst }} </span>
            <span class="wrong-word" *ngIf="!word.valid"> {{word.word | capitalizeFirst }} </span>
          </span>
        </div>
      <div class="right-box">
        {{translation.spanish | capitalizeFirst}}
      </div>
    </div>
  </div>
  <button type="button" (click)="onClose()" (keypress)="onClose()" id="feedback-close-button" class="button button-24 border-red" role="none" [focus]="slide.enter">close</button>
</div>

