
<section class="section section-padding menu-padding section-game bg-main">
  <div *ngIf="hasTranslations">
    <div class="words-wrapper">
      <words
        [translation]="translation"
        (wordSubmit)="onWordSubmit($event)"
        (scoreUpdate)="onScoreUpdate($event)">
      </words>
    </div>
    <div class="bars-wrapper">
      <stats [scoreUpdate]="scoreUpdate"></stats>
    </div>
    <feedback
      [translation]="translation"
      [slide]="slide"
      (close)="onFeedbackClose()">
    </feedback>
  </div>
  <div *ngIf="!hasTranslations && !isFetchingData">
    <div class="view-placeholder fs-medium">
      No words to play <br>
      Add translations to playlist <br><br>
      <a class="button button-white clickable"
          [routerLink]="['MyList']">
            Add: My List
      </a>
      <a class="button button-white clickable"
          [routerLink]="['VerbList']">
            Add: Verbs
      </a>
    </div>
  </div>
  <div *ngIf="isFetchingData">
    <div class="loading">
      <i class="fa fa-spinner fa-spin fa-5x fg-white loading-spinner"></i>
    </div>
  </div>
</section>