@import 'variables';

.inner-body{
  min-height: 100vh;
}

.stat-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1020px;
  margin: 0 auto;
}

.stat-box{
  background-color: $color-white;
  padding: 0;
  flex-basis: 240px;
  margin-bottom: 1px;
  margin-right: 1px;
}

.stat-box-header{
  padding: 12px;
  border-bottom: 1px solid $color-main;
  font-size: 18px;
  background: $color-grey-bright;
  text-align: center;
}
.stat-box-body{
  padding: 12px;
}


@include screen-tablet{
  .stat-section{
    width: 771px;
  }
}
@include screen-phone{
  .stat-section{
    width: 300px;
  }
  .stat-box{
    margin-bottom: 12px;
  }
}


















