
<article class="stats small" *ngIf="size == 'small'">
  <ul class="list clearfix">
    <li class="item clearfix" *ngFor="#bucket of buckets; #i=index">
      <div class="bar">
        <div class="fill" style="height: {{bucket.percentage}}%"></div>
      </div>
    </li>
  </ul>
</article>

<article  class="stats"
          *ngIf="size != 'small'"
          [ngClass]="{
                          'colored': colored === true,
                          'big': size === 'big',
                          'tall': size === 'tall'
                      }">
  <ul class="list clearfix" [ngClass]="{'center': centered === true}">
    <li class="item" *ngFor="#bucket of buckets; #i=index">
      <div class="bar">
        <div class="fill" style="height: {{bucket.percentage}}%"></div>
      </div>
      <div class="label">{{bucket.translations}}</div>
    </li>
  </ul>
</article>

