@import 'variables';

.container {
  max-width: 500px;
  text-align: center;
  margin: 90px auto 0;
}
.source-word {
  font-size: 30px;
  margin-bottom: 12px;

}
.context-phrase{
  font-size: 14px;
  margin-bottom: 12px;

}
.cheat-word {
  font-size: 12px;

}
.input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  color: $color-main-dark;
  font-size: 16px;

  text-align: center;
  padding: 12px;
  border: none;
  outline: none;
}
