<div class="menu-padding"></div>

<div class="header">
  <h1 class="logo">Vocab Master</h1>
</div>


<a [routerLink]="['Game']" class="button button-large center">Play</a>

<section class="stat-section clearfix">
  <div class="stat-box">
    <div class="stat-box-header">You Know</div>
    <div class="stat-box-body">{{userStats.knowing}}</div>
  </div>
  <div class="stat-box">
    <div class="stat-box-header">
      Words in play <span>{{userStats.playing}}</span>
    </div>
    <div class="stat-box-body" style="background: grey;">
      <bars-wiget [buckets]="buckets" [size]="'big'" ></bars-wiget>
    </div>
  </div>
  <div class="stat-box">
    <div class="stat-box-header">Words waiting to be played</div>
    <div class="stat-box-body">{{userStats.waiting}}</div>
  </div>
  <div class="stat-box">
    <div class="stat-box-header">Played last 24h</div>
    <div class="stat-box-body">{{userStats.today.played}}</div>
  </div>

</section>



<div class="seperator"></div>

<a href="" class="button right">Add friend</a>

<table class="table">
  <thead>
    <tr>
      <td>avatar</td>
      <td>Are playing</td>
      <td>Knows</td>
      <td>Buckets</td>
      <td>Strength</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>img</td>
      <td>57</td>
      <td>44</td>
      <td>
        <bars-wiget [buckets]="buckets" [size]="'small'" ></bars-wiget>
      </td>
      <td>57%</td>
    </tr>
    <tr>
      <td>img</td>
      <td>57</td>
      <td>63</td>
      <td>
        <bars-wiget [buckets]="buckets" [size]="'small'" ></bars-wiget>
      </td>
      <td>57%</td>
    </tr>
  </tbody>
</table>




