<div class="menu-padding"></div>

<div class="header text-center">
  <img src="app/img/logo_banner.png" alt="">
</div>



<section class="section section-padding">
  <a href="" class="button button-main hover-bright right">Add friend</a>
  <table class="table">
    <thead class="thead">
      <tr>
        <td>avatar</td>
        <td>Are playing</td>
        <td>Knows</td>
        <td>Buckets</td>
        <td>Strength</td>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr>
        <td>img</td>
        <td>57</td>
        <td>44</td>
        <td>
          <bars-wiget [buckets]="buckets" [size]="'small'" ></bars-wiget>
        </td>
        <td>57%</td>
      </tr>
      <tr>
        <td>img</td>
        <td>57</td>
        <td>63</td>
        <td>
          <bars-wiget [buckets]="buckets" [size]="'small'" ></bars-wiget>
        </td>
        <td>57%</td>
      </tr>
    </tbody>
  </table>
</section>