.bg-main {
  background-color: #369194; }

.bg-green {
  background-color: #138a1e; }

.bg-red {
  background-color: #a82323; }

.bg-yellow {
  background-color: #ba9500; }

.bg-grey-dark {
  background-color: #dcdcdc; }

.bg-grey-bright {
  background-color: #f9f7f7; }

.bg-grey {
  background-color: #eeeded; }

.fg-main {
  color: #369194; }

.fg-white {
  color: #fff; }

.fg-grey {
  color: #eeeded; }

.fg-grey-dark {
  color: #dcdcdc; }

.fg-grey-darkest {
  color: #646464; }

.fg-green {
  color: #138a1e; }

.fg-red {
  color: #a82323; }

.hover-main:hover {
  color: #369194; }

.fs-smallest {
  font-size: 12px; }

.fs-small {
  font-size: 14px; }

.fs-medium {
  font-size: 16px; }

.nowrap {
  white-space: nowrap; }

.menu-padding {
  padding-top: 56px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
a {
  text-decoration: none; }

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: HelveticaNeue-Light;
  src: local("Helvetica Neue Light"), local("HelveticaNeue-Light"), url(HelveticaNeueLight.ttf); }

.div, section, article, form, input {
  box-sizing: border-box; }

.section-padding {
  padding: 24px; }

.body,
input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.body {
  background-color: #eeeded;
  font-size: 14px; }

.header {
  background-color: #369194;
  padding: 24px; }

.view-placeholder {
  margin-top: 100px;
  text-align: center; }
  .view-placeholder .app-header {
    color: #dcdcdc;
    font-size: 30px; }

.table {
  border-collapse: collapse;
  color: #646464;
  width: 100%; }
  .table thead {
    color: #369194; }
  .table .difficult {
    color: #a82323; }
  .table .easy {
    color: #138a1e; }
  .table td {
    padding: 8px 6px; }

.tbody td {
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2); }

fieldset {
  border: none;
  padding: 0; }

legend {
  margin-bottom: 2px;
  font-size: 14px;
  color: #fff; }

.text-input {
  background-color: rgba(255, 255, 255, 0.2);
  color: #005a65;
  font-size: 14px;
  padding: 8px 10px;
  border: none;
  outline: none; }
  .text-input::-webkit-input-placeholder {
    color: white; }

.button {
  padding: 8px;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  border: none;
  font-size: 14px;
  display: inline-block; }
  .button:hover {
    cursor: pointer; }

.button-rounded {
  min-height: 24px;
  border-radius: 24px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 24px;
  font-size: 16px; }

.button-white {
  background-color: #fff;
  color: #369194; }
  .button-white:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff; }

.button-main {
  background-color: #369194;
  color: #fff; }
  .button-main.hover-dark:hover {
    background-color: #004143;
    color: #72bfc1; }
  .button-main.hover-bright:hover {
    background-color: #72bfc1;
    color: #004143; }
  .button-main.hover-invert:hover {
    background-color: #fff;
    color: #369194; }

.button-large {
  font-size: 24px;
  padding: 12px; }

.button-small {
  font-size: 12px;
  padding: 4px; }

.button-disabled {
  background-color: #aaa; }

.grid {
  display: table; }

.grid-column {
  display: table-cell;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 12px; }

.popup {
  content: " ";
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99; }

.popup-inner {
  display: block;
  padding: 24px;
  box-shadow: 4px 6px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #369194;
  z-index: 101;
  margin: auto; }

.loading {
  padding: 48px; }

.loading-spinner {
  margin: 0 auto;
  width: 70px;
  display: block;
  height: 70px; }

.text-center {
  text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

.right {
  float: right; }

.text-red {
  color: #b74c4c; }

.text-green {
  color: #0a790a; }

.clickable {
  cursor: pointer; }

.link-white {
  color: #fff; }
  .link-white:hover {
    color: #004143; }

/*# sourceMappingURL=application.css.map */