@import 'variables';


// Clearfix
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

a{
  text-decoration: none;
}

.clean-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

// FONTS
@font-face {
  font-family: HelveticaNeue-Light;
  src: local("Helvetica Neue Light"),
       local("HelveticaNeue-Light"),
       url(HelveticaNeueLight.ttf);
       // Todo: Make sure this font works deployed
}

.div, section, article, form, input{
  box-sizing: border-box;
}

.section{

}

.section-padding{
  padding: 24px;
}

.body,
input{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}


// GENERAL

.body{
  background-color: $color-grey;
  font-size: 14px;
}

.header{
  background-color: $color-main;
  padding: 24px;
}

.view-placeholder{
  margin-top: 100px;
  text-align: center;
  .app-header{
    color: $color-grey-dark;
    font-size: 30px;
  }

}



.table{

  border-collapse: collapse;
  color: $color-grey-darkest;
  width: 100%;

  thead{
    color: $color-main;
  }

  .difficult{
    color: $color-red;
  }
  .easy{
    color: $color-green;
  }

  td{
    padding: 8px 6px;
  }
}

.tbody{
  td{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  tr:hover{
    background-color: rgba( 255,255,255,.2 );
  }
}


// FROM ELEMTS

fieldset{
  border: none;
  padding: 0;
}
legend{
  margin-bottom: 2px;
  font-size: 14px;
  color: $color-white;
}



.text-input{
  background-color: rgba(255, 255, 255, 0.2);
  color: #005a65;
  font-size: 14px;
  padding: 8px 10px;
  border: none;
  outline: none;

  &::-webkit-input-placeholder{
    color: white;
  }

}

.button{
  padding: 8px;
  // background-color: #005a70;
  color: $color-white;
  border-radius: 2px;
  text-align: center;
  border: none;
  font-size: 14px;
  display: inline-block;
  &:hover{
    cursor: pointer;
  }
}

.button-rounded{
  min-height: 24px;
  border-radius: 24px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 24px;
  font-size: 16px;
}

.button-white{
  background-color: $color-white;
  color: $color-main;
  &:hover{
    background-color: rgba(255,255,255,.4);
    color: $color-white;
  }
}

.button-main{
  background-color: $color-main;
  color: $color-white;
  &.hover-dark:hover{
    background-color: $color-main-dark;
    color: $color-main-bright;
  }
  &.hover-bright:hover{
    background-color: $color-main-bright;
    color: $color-main-dark;
  }
  &.hover-invert:hover{
    background-color: $color-white;
    color: $color-main;
  }
}



.button-large{
  font-size: 24px;
  padding: 12px;
}
.button-small{
  font-size: 12px;
  padding: 4px;
}

.button-disabled{
  background-color: #aaa;
}

.grid{
  display: table;
}
.grid-column{
  display: table-cell;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 12px;
}


// Popup
.popup{
  content: " ";
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.8);
  z-index: 99;
}
.popup-inner{



    display: block;
    padding: 24px;
    box-shadow: 4px 6px 4px 1px rgba(0, 0, 0, 0.2);
    background-color: $color-main;
    z-index: 101;
    margin: auto;
}

.loading{
  padding: 48px;
}
.loading-spinner{
  margin: 0 auto;
  width: 70px;
  display: block;
  height: 70px;
}

.text-center{
  text-align: center;
}
.center{
  margin-left: auto;
  margin-right: auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

// ToDo: Remove and use fg-red instead
.text-red{
  color: #b74c4c;
}
.text-green{
  color: #0a790a;
}

.clickable{
  cursor: pointer;
}

.link-white{
  color: $color-white;
  &:hover{
    color: $color-main-dark;
  }
}
