.body{
  background-color: #74cad4;
  padding: 10px;
}

.view-placeholder{
  font-size: 50px;
  color: rgba(255,255,255,.8);
  margin-top: 100px;
  text-align: center;
}

.table{
  color: white;

  .phrase{
    background-color: green;
  }
  .difficult{
    color: red;
  }
  .easy{
    color: green;
  }

  td{
    border-top: 1px solid rgba(255, 255, 255, 0.1)
  }
}

.text-input{
  background-color: rgba(255, 255, 255, 0.4);
  color: #005a65;
  font-size: 16px;
  padding: 12px;
  border: none;
  outline: none;
  &::-webkit-input-placeholder{
    color: white;
  }

}

.button{
  padding: 8px;
  background-color: #005a70;
  color: white;
  border-radius: 2px;
  text-align: center;
  border: none;
  font-size: 16px;
  margin-bottom: 8px;
  display: inline-block;
}

.button-white{
  background-color: white;
  color: #005a70;
}

.button-large{
  font-size: 24px;
  padding: 12px;
}

.button-disabled{
  background-color: #aaa;
  color: #fff;
}

.text-center{
  text-align: center;
}
.center{
  margin-left: auto;
  margin-right: auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.text-red{
  color: #b74c4c;
}
.text-green{
  color: #0a790a;
}
