$color-main: #369194;
$color-main-dark: #004143;
$color-grey-0: #eeeded;
$color-white: #fff;

// Background color
.bg-main{
  background-color: $color-main;
}

// Foreground color
.fg-main{
 background-color: $color-main;
}

