// ToDo: What is the best way to implement global variables?
// atm they this file might be included many times in the final css file

$color-main: #369194;
$color-main-bright: #72bfc1;
$color-main-dark: #004143;

$color-grey-bright: #f9f7f7;
$color-grey: #eeeded;
$color-grey-dark: #dcdcdc;
$color-grey-darkest: #646464;
$color-white: #fff;
$color-green: #138a1e;
$color-green-bright: #8ccc92;
$color-green-dark: #086110;
$color-red: #a82323;
$color-yellow: #ba9500;


// Background color
.bg-main{
  background-color: $color-main;
}
.bg-green{
  background-color: $color-green;
}
.bg-red{
  background-color: $color-red;
}
.bg-yellow{
  background-color: $color-yellow;
}
.bg-grey-dark{
  background-color: $color-grey-dark;
}
.bg-grey-bright{
  background-color: $color-grey-bright;
}
.bg-grey{
  background-color: $color-grey;
}

// Foreground color
.fg-main{
 color: $color-main;
}
.fg-white{
  color: $color-white;
}
.fg-grey{
  color: $color-grey;
}
.fg-grey-dark{
  color: $color-grey-dark;
}
.fg-grey-darkest{
  color: $color-grey-darkest;
}
.fg-green{
  color: $color-green;
}
.fg-red{
  color: $color-red;
}

// Hover
.hover-main:hover{
  color: $color-main;
}

// Fonts
.fs-smallest{
  font-size: 12px;
}
.fs-small{
  font-size: 14px;
}
.fs-medium{
  font-size: 16px;
}

// General useful
.nowrap{
  white-space: nowrap;
}


.menu-padding{
  padding-top: 56px;
}


// Media queries

//Laptop
@mixin screen-laptop {
  @media screen and (max-width: 1200px){
    @content
  }
}
//iPad
@mixin screen-tablet {
  @media screen and (max-width: 786px){
    @content
  }
}
//iPhone 5
@mixin screen-phone {
  @media screen and (max-width: 320px){
    @content
  }
}