<div class="menu-padding"></div>

<div class="section section-padding bg-grey-dark text-center clearfix">
    <span *ngIf="!isFetchingList" class="fs-medium fg-grey-darkest">
     In this list {{ quantity }}
    </span>
    <span *ngIf="isFetchingList">
      <i class="fa fa-spinner fa-spin fa-1x fg-grey-darkest"></i>
    </span>
</div>

<div *ngIf="!isFetchingList">

  <table class="table">
    <thead class="thead">
      <tr>
        <td></td>
        <td></td>
        <td>Spanish</td>
        <td>English</td>
        <td>Difficulty</td>
        <td>Attemps</td>
        <td>Bucket</td>
        <td>private_list</td>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="#translation of list.collection">
        <td>
          <button (click)="onAddToPrivate( $event )" id="{{translation.id}}" class="button button-main hover-bright">Add</button>
        </td>
        <td>
          <button id="{{translation.id}}" class="button button-main hover-bright nowrap">Add & Play</button>
        </td>
        <td class="fs-medium">
          {{translation.spanish}}
        </td>
        <td class="fs-medium">
          {{translation.english}}
        </td>
        <td>
          <div *ngIf="translation.no_of_attempts"
            [class.fg-red]="translation.difficulty > 75"
            [class.fg-green]="translation.difficulty < 25"
            class="nowrap"
            >
            <i class="fa fa-line-chart fa-1x" aria-hidden="true"></i>
            {{translation.difficulty}}%
          </div>
        </td>
        <td>
          <div class="attempts clearfix" *ngIf="translation.no_of_attempts">
            <div class="attempt-left attempts-total">
              {{translation.no_of_attempts}}
            </div>
            <div class="attempt-right">
              <div class="attempts-failed">
                {{translation.no_of_failed}}
              </div>
              <div class="attempts-succeeded">
                {{translation.no_of_succeeded}}
              </div>
            </div>
          </div>
        </td>
        <td *ngIf="translation.no_of_attempts">
          <strength-wiget [bucket]="translation.bucket + 1" ></strength-wiget>
        </td>
        <td>
          <span *ngIf="translation.strength">
            {{translation.private_match}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isFetchingList">
  <div class="loading">
    <i class="fa fa-spinner fa-spin fa-5x fg-grey-dark loading-spinner"></i>
  </div>
</div>
















