<h1>My list ({{ quantity }})</h1>

<form [ngFormModel]="form" (ngSubmit)="onAddTranslation()"  >
  <input type="text" ngControl="spanish" placeholder="Spanish" >
  <input type="text" ngControl="english" placeholder="English">
  <input type="submit">
</form>

<table class="table">
  <thead>
    <tr>
      <td>Add</td>
      <td>Delete</td>
      <td>Spanish</td>
      <td>English</td>
      <td>difficulty</td>
      <td>strenght</td>
      <td>attemps</td>
      <td>failed</td>
      <td>succeded</td>
      <td>bucket/s</td>
      <td>private list</td>
    </tr>
  </thead>
  <tbody *ngFor="#translation of list.collection">

    <tr>
      <td><button (click)="onAddToPrivate( $event )" id="{{translation.id}}" class="button">Add</button></td>
      <td><button (click)="onDeleteTranslation( $event )" id="{{translation.id}}" class="button">Delete</button></td>
      <td>{{translation.spanish}}</td>
      <td>{{translation.english}}</td>
      <td>
        <div class="bar-item" *ngIf="translation.no_of_attempts > 0">
          <div class="horizontal-bar">
            <div
              class="horizontal-fill"
              [class.difficult]="translation.difficulty > 50"
              [class.easy]="translation.difficulty < 10"
              style="width: {{translation.difficulty}}%;">
            </div>
          </div>
          <div class="label"> {{translation.no_of_failed}} / {{translation.no_of_attempts}} </div>
        </div>
      </td>
      <td [class.easy]=" translation.strength > 50 ">{{translation.strength}}%</td>
      <td>{{translation.no_of_attempts}}</td>
      <td>{{translation.no_of_failed}}</td>
      <td>{{translation.no_of_succeeded}}</td>
      <td>{{translation.bucket}} / {{translation.step}}</td>
      <td>{{translation.private_match}}</td>

    </tr>
  </tbody>
</table>