<h1>My list ({{ quantity }})</h1>

<form [ngFormModel]="form" (ngSubmit)="onAddTranslation()"  >
  <input type="text" ngControl="spanish" placeholder="Spanish" class="text-input" #inputSpanish >
  <input type="text" ngControl="english" placeholder="English" class="text-input">
  <input type="text" ngControl="context" placeholder="Context" class="text-input">
  <input type="text" ngControl="category" placeholder="Category" class="text-input">
  <input type="submit" class="button" value="Add Translation">
</form>

<table class="table">
  <thead>
    <tr>
      <td>Add</td>
      <td>Delete</td>
      <td>Edit</td>
      <td>Spanish</td>
      <td>English</td>
      <td>Context</td>
      <td>Category</td>
      <td>Difficulty</td>
      <td>Bucket</td>
      <td>Attemps</td>
      <td>private_list</td>
    </tr>
  </thead>
  <tbody #tableBody>
    <tr *ngFor="#translation of list.collection" id="translation-{{translation.id}}">
      <td>
        <!-- todo: replace with data-id instead of id attribute -->
        <button (click)="onAddToPrivate( $event )" id="{{translation.id}}" class="button">Add</button>
      </td>
      <td>
        <!-- todo: replace with data-id instead of id attribute -->
        <button (click)="onDeleteTranslation( $event )" id="{{translation.id}}" class="button">Delete</button>
      </td>
      <td>
        <button
          (click)="onEditTranslation( $event )"
          [attr.data-id]="translation.id" id="edit-{{translation.id}}" class="button">Edit
        </button>
      </td>
      <td>
        {{translation.spanish}}
      </td>
      <td>
        {{translation.english}}
      </td>
      <td>
        {{translation.context}}
      </td>
      <td>
        {{translation.category}}
      </td>
      <td>
        <div class="bar-item" *ngIf="translation.no_of_attempts > 0">
          <div class="horizontal-bar">
            <div
              class="horizontal-fill"
              [class.difficult]="translation.difficulty > 50"
              [class.easy]="translation.difficulty < 10"
              style="width: {{translation.difficulty}}%;">
            </div>
          </div>
          <div class="label"> {{translation.no_of_failed}} / {{translation.no_of_attempts}} </div>
        </div>
      </td>
      <td>
        <ul class="bucket-list clearfix" *ngIf="translation.no_of_attempts">
          <li class="bucket-marker" [class.is-bucket-1]="translation.bucket==0">
            <div class="outer"><div class="inner"></div></div>
          </li>
          <li class="bucket-marker" [class.is-bucket-2]="translation.bucket==1">
            <div class="outer"><div class="inner"></div></div>
          </li>
          <li class="bucket-marker" [class.is-bucket-3]="translation.bucket==2">
            <div class="outer"><div class="inner"></div></div>
          </li>
          <li class="bucket-marker" [class.is-bucket-4]="translation.bucket==3">
            <div class="outer"><div class="inner"></div></div>
          </li>
          <li class="bucket-marker" [class.is-bucket-5]="translation.bucket==4">
            <div class="outer"><div class="inner"></div></div>
          </li>
          <li class="bucket-marker" [class.is-bucket-6]="translation.bucket==5">
            <div class="outer"><div class="inner"></div></div>
          </li>
        </ul>
      </td>
      <td>
        <div *ngIf="translation.no_of_attempts">
          <span>
            {{translation.no_of_attempts}}
          </span>
          <span class="text-red">
            {{translation.no_of_failed}}
          </span>
          <span class="text-green">
            {{translation.no_of_succeeded}}
          </span>

        </div>
      </td>
      <td>
        <span *ngIf="translation.strength">
          {{translation.private_match}}
        </span>
      </td>
    </tr>
  </tbody>
</table>


<div class="edit-popup" [hidden]="closeEditTranslation" >
  <form [ngFormModel]="editForm" (ngSubmit)="onUpdateTranslation()" #editFormElement >
    <input type="text" ngControl="spanish" placeholder="Spanish" class="text-input">
    <input type="text" ngControl="english" placeholder="English" class="text-input">
    <input type="text" ngControl="context" placeholder="Context" class="text-input">
    <input type="text" ngControl="category" placeholder="Category" class="text-input">
    <input type="submit" class="button button-white" value="Update Translation">
  </form>
  <button class="button button-white right" (click)="onCancelEditTranslation()">Cancel</button>
</div>














