@import 'variables';
.list-counter{
  display: table;
  color: $color-grey-darkest;
}
.list-counter-number{
  display: table-cell;
  font-size: 36px;
  vertical-align: middle;
  padding-right: 6px;
}
.list-counter-label{
  display: table-cell;
  vertical-align: middle;
}

.attempts{
  display: table;
}
.attempts-total{
  font-size: 26px;
}
.attempt-left{
  display: table-cell;
  vertical-align: middle;
}
.attempt-right{
  display: table-cell;
  vertical-align: middle;
}
.attempts-failed{
  color: $color-red;
  line-height: 12px;
  font-size: 12px;
}
.attempts-succeeded{
  color: $color-green;
  line-height: 12px;
  font-size: 12px;
}


// Filter

.filter-wrapper{
  background-color: rgba(255, 255, 255, 0.2);
  float: left;
  margin-right: 4px;
  padding: 10px;
}
.filter-header{
  padding-bottom: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 12px;
  color: $color-white;
  border-bottom: 1px solid $color-main;
}

.filter-list{
  color: $color-main-dark;
  font-size: 12px;
  line-height: 12px;
}
.filter-item{
  margin-bottom: 1px;
}
.filter-link{
  &:hover{
    cursor: pointer;
    color: $color-white;
  }
}
.filter-count{
  font-size: 12px;
}