<h1>Global list</h1>

<table class="table">
  <thead>
    <tr>
      <td>Action</td>
      <td>Spanish</td>
      <td>English</td>
      <td>difficulty</td>
      <td>strenght</td>
      <td>attemps</td>
      <td>failed</td>
      <td>succeded</td>
      <td>private list</td>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="#translation of list.collection">

      <td><button (click)="onAddTranslation( $event )" id="{{translation.id}}" class="button">Add</button></td>
      <td>{{translation.spanish}}</td>
      <td>{{translation.english}}</td>
      <td [class.difficult]=" translation.difficulty > 50 ">{{translation.difficulty}}%</td>
      <td [class.easy]=" translation.strength > 50 ">{{translation.strength}}%</td>
      <td>{{translation.no_of_attempts}}</td>
      <td>{{translation.no_of_failed}}</td>
      <td>{{translation.no_of_succeeded}}</td>
      <td>{{translation.private_match}}</td>
    </tr>
  </tbody>
</table>