<div class="menu-padding"></div>

<div class="section section-padding sub-header text-center clearfix">

  <a  *ngIf="!isFetchingData"
      class="button button-rounded button-main hover-bright"
      [routerLink]="['Game']">
        Play {{ quantity }}
        <i class="fa fa-play fs-small fa-1x" aria-hidden="true"></i>
  </a>
  <span *ngIf="isFetchingData">
    <i class="fa fa-spinner fa-spin fa-1x fg-grey-darkest"></i>
  </span>
</div>

<!-- HIDDEN IF FECHING LIST -->
<div *ngIf="!isFetchingList && hasTranslations">
  <div class="section section-padding">
      <table class="table">
        <thead class="thead">
          <tr>
            <td>Action</td>
            <td>Spanish</td>
            <td>English</td>
            <td>Attemps</td>
            <td>Difficulty</td>
            <td>Strength</td>
          </tr>
        </thead>
        <tbody *ngFor="#translation of list.collection" class="tbody">
          <tr>
            <td>
              <button (click)="onRemoveTranslation( $event )"
                      id="{{translation.id}}"
                      class="button button-main hover-bright">
                        Delete
              </button>
            </td>
            <td class="fs-medium">{{translation.spanish}}</td>
            <td class="fs-medium">{{translation.english}}</td>
            <td>
              <div class="attempts clearfix" *ngIf="translation.no_of_attempts">
                <div class="attempt-left attempts-total">
                  {{translation.no_of_attempts}}
                </div>
                <div class="attempt-right">
                  <div class="attempts-failed">
                    {{translation.no_of_failed}}
                  </div>
                  <div class="attempts-succeeded">
                    {{translation.no_of_succeeded}}
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div *ngIf="translation.no_of_attempts"
                [class.fg-red]="translation.difficulty > 75"
                [class.fg-green]="translation.difficulty < 25"
                class="nowrap"
                >
                <i class="fa fa-line-chart fa-1x" aria-hidden="true"></i>
                {{translation.difficulty}}%
              </div>
            </td>
            <td *ngIf="translation.no_of_attempts">
              <strength-wiget [bucket]="translation.bucket + 1" ></strength-wiget>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>




<div *ngIf="isFetchingData">
  <div class="loading">
    <i class="fa fa-spinner fa-spin fa-5x fg-grey-dark loading-spinner"></i>
  </div>
</div>
<div *ngIf="!hasTranslations && !isFetchingData">
  <div class="view-placeholder fs-medium fg-grey-darkest">
    No Words In Playlist <br>
    Add translations to playlist <br><br>
    <a class="button button-main hover-invert clickable"
        [routerLink]="['MyList']">
          Add: My List
    </a>
    <a class="button button-main hover-invert clickable"
        [routerLink]="['VerbList']">
          Add: Verbs
    </a>
  </div>
</div>


