

<h1>Verb list</h1>

<ul class="verb-list">
  <li class="verb-list__item clearfix" *ngFor="#verb of list">
    <ul class="vertical-list clearfix">
      <li class="vertical-list__item">
        <button
          (click)="onAddVerbToPrivate( $event, 'infinitive')"
          [attr.data-id]="verb.id"
          id="verb-button-{{verb.id}}"
          class="button button-small">
            Add
        </button>
      </li>
      <li class="vertical-list__item type">Infinitive</li>
      <li class="vertical-list__item spanish">{{verb.infinitive.spanish}}</li>
      <li class="vertical-list__item english">{{verb.infinitive.english}}</li>
    </ul>
    <ul class="vertical-list clearfix">
      <li class="vertical-list__item">
        <button (click)="onAddVerbToPrivate('pastParticiple')" class="button button-small">Add</button>
      </li>
      <li class="vertical-list__item type">Past Participle</li>
      <li class="vertical-list__item spanish">{{verb.pastParticiple.spanish}}</li>
      <li class="vertical-list__item english">{{verb.pastParticiple.english}}</li>
    </ul>
    <ul class="vertical-list clearfix">
      <li class="vertical-list__item">
        <button (click)="onAddVerbToPrivate('gerund')" class="button button-small">Add</button>
      </li>
      <li class="vertical-list__item type">Gerund</li>
      <li class="vertical-list__item spanish">{{verb.gerund.spanish}}</li>
      <li class="vertical-list__item english">{{verb.gerund.english}}</li>
    </ul>
    <div class="tens-box">
      <div class="tens-headline">Present</div>
      <ul class="tens-list">
        <li class="tens-list__item" *ngFor="#tens of verb.collection.indicative.present">
          <ul class="vertical-list clearfix">
            <li class="vertical-list__item">
              <button class="button button-small" (click)="onAddTensToPrivate()">Add</button>
            </li>
            <li
              class="vertical-list__item spanish"
              [class.is-irregular]="!tens.is_regular"
              [class.is-regular]="tens.is_regular">
                {{tens.spanish}}
            </li>
            <li class="vertical-list__item english">{{tens.english}}</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="tens-box">
      <div class="tens-headline">Conditional</div>
      <ul class="tens-list">
        <li class="tens-list__item" *ngFor="#tens of verb.collection.indicative.conditional">
          <ul class="vertical-list clearfix">
            <li class="vertical-list__item">
              <button class="button button-small" (click)="onAddTensToPrivate()">Add</button>
            </li>
            <li class="vertical-list__item spanish"
              [class.is-regular]="tens.is_regular">
                {{tens.spanish}}
            </li>
            <li class="vertical-list__item english">{{tens.english}}</li>
          </ul>
        </li>
      </ul>
    </div>

  </li>
</ul>




