<h1>Verb list</h1>

<div *ngIf="!list || list && !list.collection">
  Loading...
</div>

<div *ngIf="list && list.collection">


<br>
<span>FILTER BY:</span>
<a (click)="onDisplayAll()" >
  <strong>All</strong> <!-- ({{ listCounts.all }}) -->
</a> |
<a (click)="onDisplayInfinitive()" >
  <strong>Infinitive</strong>
</a> |
<a (click)="onFilterConjugation( '1ps' )" >
  <strong>Yo</strong>
</a> |
<a (click)="onFilterConjugation( '2ps' )" >
  <strong>Tú</strong>
</a> |
<a (click)="onFilterConjugation( '3ps' )" >
  <strong>él, ella, lo</strong>
</a> |
<a (click)="onFilterConjugation( '1pp' )" >
  <strong>Nosotros</strong>
</a> |
<a (click)="onFilterConjugation( '2pp' )" >
  <strong>Vosotros</strong>
</a> |
<a (click)="onFilterConjugation( '3pp' )" >
  <strong>Ellos</strong>
</a>

<br><br>

<ul class="verb-list">
  <li class="verb-list__item clearfix" *ngFor="#verb of list.collection">
    <ul class="vertical-list clearfix" *ngIf="verb.infinitive">
      <li class="vertical-list__item">
        <button
          (click)="onAddToPrivate( $event, 'infinitive')"
          [attr.data-id]="verb.id"
          id="verb-button-{{verb.id}}"
          class="button button-small">
            Add
        </button>
      </li>
      <li class="vertical-list__item type">Infinitive</li>
      <li class="vertical-list__item spanish">{{verb.infinitive.spanish}}</li>
      <li class="vertical-list__item english">{{verb.infinitive.english}}</li>
    </ul>
    <ul class="vertical-list clearfix" *ngIf="verb.pastParticiple">
      <li class="vertical-list__item">
        <button (click)="onAddToPrivate('pastParticiple')" class="button button-small">Add</button>
      </li>
      <li class="vertical-list__item type">Past Participle</li>
      <li class="vertical-list__item spanish">{{verb.pastParticiple.spanish}}</li>
      <li class="vertical-list__item english">{{verb.pastParticiple.english}}</li>
    </ul>
    <ul class="vertical-list clearfix" *ngIf="verb.gerund">
      <li class="vertical-list__item">
        <button (click)="onAddToPrivate('gerund')" class="button button-small">Add</button>
      </li>
      <li class="vertical-list__item type">Gerund</li>
      <li class="vertical-list__item spanish">{{verb.gerund.spanish}}</li>
      <li class="vertical-list__item english">{{verb.gerund.english}}</li>
    </ul>
    <div class="tens-box" *ngIf="verb.collection.indicative">
      <div class="tens-headline">Present</div>
      <ul class="tens-list">
        <li class="tens-list__item" *ngFor="#conjugation of verb.collection.indicative.present">
          <ul class="vertical-list clearfix">
            <li class="vertical-list__item">
            <button
              (click)="onAddToPrivate( $event, 'conjugation')"
              [attr.data-id]="conjugation.id"
              id="conjugation-button-{{conjugation.id}}"
              class="button button-small">
                Add
            </button>
            </li>
            <li
              class="vertical-list__item spanish"
              [class.is-irregular]="!conjugation.is_regular"
              [class.is-regular]="conjugation.is_regular">
                {{conjugation.spanish}}
            </li>
            <li class="vertical-list__item english">{{conjugation.english}}</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="tens-box" *ngIf="verb.collection.indicative">
      <div class="tens-headline">Future</div>
      <ul class="tens-list">
        <li class="tens-list__item" *ngFor="#conjugation of verb.collection.indicative.future">
          <ul class="vertical-list clearfix">
            <li class="vertical-list__item">
              <button
              (click)="onAddToPrivate( $event, 'conjugation')"
              [attr.data-id]="conjugation.id"
              id="conjugation-button-{{conjugation.id}}"
              class="button button-small">
                Add
            </button>
            </li>
            <li class="vertical-list__item spanish"
              [class.is-regular]="conjugation.is_regular">
                {{conjugation.spanish}}
            </li>
            <li class="vertical-list__item english">{{conjugation.english}}</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="tens-box" *ngIf="verb.collection.indicative">
      <div class="tens-headline">Conditional</div>
      <ul class="tens-list">
        <li class="tens-list__item" *ngFor="#conjugation of verb.collection.indicative.conditional">
          <ul class="vertical-list clearfix">
            <li class="vertical-list__item">
              <button
              (click)="onAddToPrivate( $event, 'conjugation')"
              [attr.data-id]="conjugation.id"
              id="conjugation-button-{{conjugation.id}}"
              class="button button-small">
                Add
            </button>
            </li>
            <li class="vertical-list__item spanish"
              [class.is-regular]="conjugation.is_regular">
                {{conjugation.spanish}}
            </li>
            <li class="vertical-list__item english">{{conjugation.english}}</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="tens-box" *ngIf="verb.collection.indicative">
      <div class="tens-headline">Preterite</div>
      <ul class="tens-list">
        <li class="tens-list__item" *ngFor="#conjugation of verb.collection.indicative.preterite">
          <ul class="vertical-list clearfix">
            <li class="vertical-list__item">
              <button
              (click)="onAddToPrivate( $event, 'conjugation')"
              [attr.data-id]="conjugation.id"
              id="conjugation-button-{{conjugation.id}}"
              class="button button-small">
                Add
            </button>
            </li>
            <li class="vertical-list__item spanish"
              [class.is-regular]="conjugation.is_regular">
                {{conjugation.spanish}}
            </li>
            <li class="vertical-list__item english">{{conjugation.english}}</li>
          </ul>
        </li>
      </ul>
    </div>

  </li>
</ul>


</div>