@import 'variables';


.verb-header{
  background-color: $color-grey-bright;
  margin-bottom: 6px;
  color: #369194;
  border-bottom: 1px solid $color-main;
  font-size: 18px;
}

ul{
  list-style: none;
  padding: 0;
}
.verb-list{

}

.verb-list__item{
  // padding: 12px;
  color: $color-grey-darkest;
  background-color: $color-grey-bright;
  padding-bottom: 48px;
  &:last-child{
    padding-bottom: 0;
  }
  // &:nth-child(odd){
  //   background-color: $color-grey-dark;
  // }
}

.vertical-list{
  margin-bottom: 2px;
}

.vertical-list__item{

  float: left;
  margin-right: 12px;
  display: block;

  &.type{
    width: 100px;
  }
  &.spanish{
    width: 100px;
  }
  &.engish{
    width: 300px;
  }
}
.tens-box{
  width: 390px;
  margin-top: 6px;
  float: left;
  margin-right: 12px;
  margin-bottom: 6px;
}

.tens-headline{
  font-size: 14px;
  margin-bottom: 6px;
  border-bottom: 1px solid $color-grey-dark;
  padding-bottom: 2px;
}
.tens-list{

}

.is-regular{
  color: $color-green;
}
.is-irregular{
  // text-decoration: underline;
  color: $color-red;
}
