@import 'variables';

.navigation{
  background-color: $color-white;

  text-align: center;
}

.navigation-list{
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation-item{
  float: left;
  border-left: 1px solid $color-main;
  &:last-child{
    border-right: 1px solid $color-main;
  }
}

.navigation-icon{
  margin-bottom: 4px;
}

a{
  cursor: pointer;
  padding: 8px 16px;
  display: block;
  font-size: 16px;
  color: $color-main-dark;

  &:hover{
    background-color: $color-main;
    color: $color-white;
    text-decoration: none;
  }
}
