<nav class="navigation clearfix">
  <ul class="navigation-list">
    <li class="navigation-item">
      <a [routerLink]="['Profile']">
        <div class="navigation-icon">
          <i class="fa fa-user fa-1x" aria-hidden="true"></i>
        </div>
        Profile
      </a>
    </li>
    <li class="navigation-item">
      <a [routerLink]="['Stats']">
        <div class="navigation-icon">
          <i class="fa fa-1x fa-pie-chart" aria-hidden="true"></i>
        </div>
        Statistics
      </a>
    </li>
    <li class="navigation-item">
      <a [routerLink]="['Game']">
        <div class="navigation-icon">
          <i class="fa fa-1x fa-play" aria-hidden="true"></i>
        </div>
        Play
      </a></li>
    <li class="navigation-item">
      <a [routerLink]="['PlayList']">
        <div class="navigation-icon">
          <i class="fa fa-1x fa-list" aria-hidden="true"></i>
        </div>
        Play List
      </a></li>
    <li class="navigation-item">
      <a [routerLink]="['MyList']">
        <div class="navigation-icon">
          <i class="fa fa-1x fa-list" aria-hidden="true"></i>
        </div>
        My List
      </a></li>
    <li class="navigation-item">
      <a [routerLink]="['CommonList']">
        <div class="navigation-icon">
          <i class="fa fa-1x fa-long-arrow-down" aria-hidden="true"></i>
        </div>
        Import/common
      </a></li>
    <li class="navigation-item">
      <a [routerLink]="['VerbList']">
        <div class="navigation-icon">
          <i class="fa fa-1x fa-list" aria-hidden="true"></i>
        </div>
        Verb List
      </a></li>
    <li class="navigation-item">
      <a >
        <div class="navigation-icon">
          <!-- <i class="fa fa-text-width fa-1x" aria-hidden="true"></i> -->
          <!-- <i class="fa fa-file-text fa-1x" aria-hidden="true"></i> -->
          <i class="fa fa-file-text-o fa-1x" aria-hidden="true"></i>

        </div>
        Text
      </a></li>
  </ul>
</nav>